.container {
  background: #f6f6f6;
}

.nightmode {
  background: #1d1f21;
  color: white;
}

:global(.DraftEditor-root) {
  flex: 1;
  /* We could also use ch here --> width: 80ch; */
  /* width: 50vw;  */
  /* margin: auto; */
}

:global(.DraftEditor-editorContainer .public-DraftEditor-content) {
  /* padding: 40px 20px 50vh; */
  padding: 40px 25vw 50vh 25vw;
  min-height: 100vh;
}

/* Links */

:global(.draftJsLinkifyPlugin__link__2ittM),
:global(.draftJsLinkifyPlugin__link__2ittM:visited) {
  cursor: pointer;
  color: goldenrod;
}

:global(.draftJsLinkifyPlugin__link__2ittM:hover) {
  color: goldenrod;
}
