:global(.DraftEditor-root) {
  flex: 1;
  width: 80ch;
  margin: auto;
}

:global(.DraftEditor-editorContainer .public-DraftEditor-content) {
  padding: 40px 20px 50vh;
  min-height: 100vh;
}

.Roboto-Mono {
  font-family: "Roboto Mono", sans-serif;
  font-size: 16px;
}

.Karla {
  font-family: "Karla", sans-serif;
  font-size: 18px;
}
