:global(.CodeMirror) {
  height: 100%;
  width: 100vw;
  font-size: 15px;
  font-family: "Roboto Mono", monospace;
}

:global(.CodeMirror-scroll) {
  padding: 0 20vw;
}

:global(.CodeMirror-sizer) {
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}

/* Color of cursor INSERT mode */
:global(.cm-s-monokai .CodeMirror-cursor) {
  border-left-color: rgba(255, 0, 0, 1);
}

/* Color of cursor NORMAL mode */
:global(.cm-fat-cursor .CodeMirror-cursor) {
  background: rgba(0, 255, 0, 0.5);
}

/* Color of cursor VISUAL mode */
:global(.cm-animate-fat-cursor) {
  background: rgba(0, 0, 255, 0.5);
}

/* Selection */
:global(.cm-s-monokai div.CodeMirror-selected) {
}
