.container {
  position: relative;
  width: 100%;
}

.container.nightmode .editor {
  background: black;
}

.container.loading {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.container.loading p {
  font-size: 16px;
}

.editor {
  position: relative;
  z-index: 2;
  transition: transform 400ms;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.2);
}
.container.settingsOpen .editor {
  transform: translate3d(-300px, 0, 0);
}
.container.listOpen .editor {
  transform: translate3d(300px, 0, 0);
}

.settingsButton {
  right: 20px;
}
.settingsButtonActive {
  transform: translate3d(-300px, 0, 0);
}

.menuButton {
  left: 20px;
}
.menuButtonActive {
  transform: translate3d(300px, 0, 0);
}

.settings {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 300px;
}

.notesList {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 300px;
}
