:root {
  --purple: #7358f2;
  --red: #cd0d23;
}

html {
  background: #f6f6f6;
  box-sizing: border-box;
}
body {
  min-height: 100%;
}

/* Display html when font loaded */
body {
  opacity: 0;
  transition: opacity 300ms;
}
:global(html.wf-active body) {
  opacity: 1;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-font-smoothing: antialiased;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-weight: 400; */
}

:global(#root) {
  display: flex;
  min-height: 100%;
}
