:root {
  --purple: #7358f2;
  --red: #cd0d23;
}

html,
body {
  box-sizing: border-box;
  /* height: 100%; */
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-font-smoothing: antialiased;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-weight: 400; */
}

:global(#root) {
  display: flex;
  min-height: 100%;
}
