.container {
  background: rgba(20, 20, 20, 1);
  padding-top: 10px;
}

.fieldset {
  display: flex;
  flex-direction: column;
  color: white;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 20px 0;
  margin: 0 30px;
}

.fieldset:last-child {
  border: none;
}

.fieldset h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.fieldset a {
  color: white;
  font-size: 15px;
}
.fieldset a:hover {
  text-decoration: none;
}

.choices {
  display: flex;
  flex-direction: column;
}

.choices label {
  font-size: 16px;
}

.radio {
  margin-bottom: 10px;
}

.fontSize .choices {
  flex-direction: row;
  align-items: center;
}

.fontSize .choices button {
  position: relative;
  top: 1px;
  cursor: pointer;
  border: none;
  background: none;
}

.fontSize .choices button i {
  color: white;
  font-size: 18px;
}

.fontSize .choices span {
  font-size: 16px;
  margin: 0 10px;
}

/* --- night mode --- */

/* .nightmode.container {
  background: white;
}
.nightmode .fieldset,
.nightmode .fontSize .choices button i {
  color: black;
} */
